@charset "utf-8";

/*mobile*/
@media screen and (max-width: 639px) {
  .header_pc,
  .sprouts,
  .content2 .cont2-2,
  .content3,
  .contact img {
    display: none;
  }
  .content2 .cont2_in .cont2-1 .info {
    font-size: 15px;
  }
  .content2 .cont2_in .cont2-1 .introduce {
    font-size: 18px;
  }
  .content2 .cont2_in .cont2-1 .introduce .icon {
    width: 20px;
  }
  .footer .f_txt1 .thanks {
    font-size: 35px;
  }
  .footer .f_txt1 .contact {
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    line-height: 2;
  }
}

/*tablet*/
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .header_pc,
  .sprouts,
  .content2 .cont2-2,
  .content3 {
    display: none;
  }
}

/*pc*/
@media screen and (min-width: 1024px) {
  .header_mt,
  .content2 .cont2_in .cont2-1 h1 img,
  .cont2-2_mt,
  .content3_mt {
    display: none;
  }
}
